body {
  background-color: #000; /* Fondo negro para toda la página */
  color: #fff; /* Texto blanco */
}

.feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Espacio entre imágenes */
}

.imagen {
  width: 300px; /* Ancho deseado para cada imagen */
  height: 350px; /* Altura fija para el contenedor (incluyendo espacio para la descripción) */
  background-color: #fff; /* Fondo blanco */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra */
  overflow: hidden; /* Oculta el desbordamiento de la imagen */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
}

.imagen img {
  max-width: 100%;
  max-height: calc(100% - 50px); /* Ajusta la altura de la imagen para dejar espacio para la descripción */
}

.descripcion {
  color: #000; /* Cambiar el color del texto a negro */
  padding: 10px;
  text-align: center;
}
a {
  text-decoration: none; /* Elimina el subrayado del enlace */
  color: #FF6600; /* Color del texto del enlace */
  font-weight: bold; /* Texto en negrita */
  transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

a:hover {
  color: #FFD700; /* Cambia el color del texto cuando pasas el cursor sobre el enlace */
}

h1 {
  font-size: 24px; /* Tamaño del texto del encabezado */
  color: #ffffff; /* Color del texto del encabezado (blanco) */
  text-align: center; /* Centra el texto horizontalmente */
  margin-top: 50px; /* Margen superior */
}
/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {
  .imagen {
    width: 250px; /* Reducir el ancho en dispositivos móviles */
    height: 300px; /* Reducir la altura en dispositivos móviles */
  }

  .imagen img {
    max-width: 80%; /* Ajusta el ancho máximo de la imagen en dispositivos móviles */
  }

  h1 {
    font-size: 20px; /* Reducir el tamaño del encabezado en dispositivos móviles */
  }

  .feed {
    gap: 40px; /* Ajusta el espacio entre imágenes en dispositivos con un ancho máximo de 768px */
    margin-bottom: 20px; /* Agrega un margen inferior para separar las imágenes verticalmente */
  }
}

